.left-rule {
  top        : 0px;
  left       : 0px;
  position   : absolute;
  height     : 100%;
  width      : 9px;
  background : url(../img/left-rule.png) repeat-y;
  z-index    : 10;
}

.right-rule {
  top        : 0px;
  right      : 0px;
  width      : 9px;
  position   : absolute;
  height     : 100%;
  background : url(../img/right-rule.png) repeat-y;
  z-index    : 10
}

.header {
  padding-top : 33px;
  position    : relative;
  background  : $header-bg;
  height      : 451px;
  .col-xs-4 {
    position : relative;
  }
  .main-button {
    position    : absolute;
    bottom      : -174px;
    left        : 50%;
    margin-left : -115px;
  }
}

.center-header-img {
  z-index     : 10;
  position    : absolute;
  top         : 0px;
  left        : 50%;
  margin-left : -121px;
  width       : 243px;
  height      : 227px;
  background  : url(../img/logo.png);
}

.left-nav-menu,
.right-nav-menu {
  text-transform : uppercase;
  padding-top    : 58px;
  margin-bottom  : 71px;
  font-size      : 17px;
  a {
    color       : $col-text;
    font-family : $bold;
    @include hover-link(false);
  }
}

.left-nav-menu {
  padding-left : 58px;
  li {
    float        : left;
    margin-right : 10px;
    &:last-child {
      margin-right : 0;
    }
  }
}

.right-nav-menu {
  float         : right;
  padding-right : 61px;
  li.active a {
    color : $col-link;
  }
  li {
    float        : left;
    margin-right : 10px;
    &:last-child {
      margin-right : 0;
    }
  }
}

.benefits {
  margin-top : 221px;
  width      : 1051px;
  @include center();
  border     : 1px $col-border solid;
  text-align : center;
  position   : relative;
  img {
    display    : block;
    @include center();
    margin-top : 40px;
  }
  h3 {
    margin-top    : 15px;
    font-size     : 20px;
    margin-bottom : 15px;
    font-family   : $bold;
  }
  p {
    margin-bottom : 42px;
    line-height   : 18px;
    font-size     : 13px;
  }
}

.benefits-left-border {
  position   : absolute;
  height     : 100%;
  width      : 1px;
  background : $col-border;
  top        : 0px;
  left       : 33.333%;
}

.benefits-right-border {
  position   : absolute;
  height     : 100%;
  width      : 1px;
  background : $col-border;
  top        : 0px;
  left       : 66.333%;
}

.help-link {
  a {
    @include table-center();
    margin-top    : 42px;
    margin-bottom : 55px;
    @include hover-link(false);
  }
}

.footer {
  background     : $footer-bg;
  padding-top    : 25px;
  padding-bottom : 25px;
  p {
    font-size : 13px;
  }
}

.checkout-modal {
}

.housing-scheme {
  padding-left : 75px;
  width        : 555px;
  float        : left;
}

.changing-rooms {
  padding-left  : 60px;
  padding-right : 56px;
  width         : 375px;
  float         : left;
  .panel {
    @include border-radius(0);
    border     : 1px $col-input-border solid;
    box-shadow : none;
  }
  .panel-heading {
    background : #fff;
    padding    : 0;
  }
  .panel-body {
    padding      : 10px 5px;
    //padding      : 10px 10px 10px 16px;
    border-color : $col-input-border !important;
    max-height: 200px;
    overflow-y: auto;
  }
  .form-group {
    position : relative;
    @include clearfix();
  }
  .col-xs-4 {
    padding : 0 3px;
  }
  .col-xs-6 {
    padding : 0 3px;
  }
  .col-xs-3{
    padding : 0 3px;
  }
  .only-number-input {
    //float  : right;
    //width  : 108px;
    height : 27px;
  }
  .checkbox {
    padding: 0 3px;
    margin-top : 0;
    @include clearfix();
    .styler {
      float : right;
    }
    .changing-label {
      display       : block;
      float         : left;
      width         : 120px;
      margin-bottom : 0;
      padding-top: 0px;
    }
    .right-input {
      float  : right;
      width  : 108px;
      height : 27px;
    }
  }
  .panel-title {
    position : relative;
    a {
      padding : 10px 15px;
      display : block;
      &:hover {
        text-decoration : none;
      }
    }
  }
}
.changing-label {
  display       : block;
  //float         : left;
  width         : 120px;
  padding-top   : 5px;
  margin-bottom : 0;
}
.delta {
  margin-bottom : 0;
  margin-top    : 3px;
  span{
    &:before{
      content: "\0394:";
    }
  }
  &-area{
    margin-bottom : 0;
    margin-top : 3px;
  }
}

.height-label {
  display       : inline-block;
  margin-top    : 35px;
  margin-bottom : 46px;
}

.button-block {
  @include table-center();
}

.save-button {
  background : url(../img/bg-save-button.png);
  width      : 127px;
  height     : 42px;
  border     : 0;
}

.cancel-button {
  background : url(../img/bg-cancel-button.png);
  width      : 128px;
  height     : 42px;
  border     : 0;
}

.accordion-arrow {
  width    : 18px;
  height   : 11px;
  position : absolute;
  top      : 12px;
  right    : 10px;
}

.arrow-top {
  background : url(../img/accordion-arrow.png) -18px 0px;
}

.arrow-bottom {
  background : url(../img/accordion-arrow.png) 0px 0px;
}

.spin-up,
.spin-down {
  display: block;
  background-position:center center ;
  background-repeat:no-repeat ;
  width: 20px;
  height: 12px;
}

.spin-up {
  background-image : url(../img/spin-top.png);
}

.spin-down {
  background-image : url(../img/spin-bottom.png);
}

.input-row{
  @include clearfix();
  margin-bottom : 15px;
  &:last-child{
    margin-bottom : 0;
  }
}

.spinner{
  input{
    border-right-color: transparent;
  }
}
