body {
  position    : relative;
  min-width   : 1228px;
  font-family : $regular;
}

//удаляем outline у элементов

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
textarea:focus,
textarea:active,
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline : none !important;
}

.form-control{
  padding: 0;
  text-indent: 6px;
}

.main-button {
  background : url(../img/main-button.png);
  width      : 231px;
  height     : 80px;
  border     : 0;
  z-index    : 2;
}

//slider nav style

.slideshow {
  width        : 1156px;
  margin-right : auto;
  margin-left  : auto;
  position     : relative;
}

.rslides_nav {
  position : absolute;
  z-index  : 5;
  width    : 44px;
  height   : 44px;
}

.rslides1_nav.prev {
  top        : 200px;
  left       : -38px;
  background : url(../img/arrows.png) 0px 0px;
}

.rslides1_nav.next {
  top        : 200px;
  right      : -38px;
  background : url(../img/arrows.png) -44px 0;
}

.relative-block{
  position: relative;
  *{
    position: absolute;
  }
}