.spinner.input-group .input-group-addon a.spin-up, .spinner.input-group .input-group-addon a.spin-down {
  height          : 10px;
  width           : 10px;
  font-size       : 14px;
  overflow        : hidden;
  display         : block;
  text-align      : center;
  text-decoration : none;
  position        : relative;
  color           : #999
}

.spinner.input-group .input-group-addon a.spin-up .icon-sort-down, .spinner.input-group .input-group-addon a.spin-down .icon-sort-down {
  position : relative;
  top      : -6px
}

.spinner.input-group .input-group-addon a.spin-up:hover, .spinner.input-group .input-group-addon a.spin-down:hover {
  color : #555
}

.spinner.input-group input {
  text-align : center
}

.spinner.input-group.input-group-lg .input-group-addon a.spin-up, .spinner.input-group.input-group-lg .input-group-addon a.spin-down {
  font-size : 16px;
  height    : 12px
}

.spinner.input-group.input-group-sm .input-group-addon a.spin-up, .spinner.input-group.input-group-sm .input-group-addon a.spin-down {
  font-size : 12px;
  height    : 9px
}