
.container {
  width     : 1228px;
  max-width : 1228px;
}

.small-container {
  width     : 1051px;
  max-width : 1051px;
  @include center();
}

ul, ol {
  margin  : 0;
  padding : 0;
  @include clearfix();
}

li {
  list-style : none;
}

a {
  @include link-colors($col-link);
}

.modal-body {
  padding : 0;
  .row {
    margin-right : 0;
    margin-left  : 0;
  }
}

.modal-header {
  border         : 0;
  padding-left   : 75px;
  padding-top    : 40px;
  padding-bottom : 40px;
}

.modal-content {
  @include border-radius(0);
  border : 0;
}

.checkout-modal-width {
  width : 930px;
}

.radio label, .checkbox label {
  padding-left : 0px;
}

.form-control {
  box-shadow : none;
  border     : 1px solid #b3b3b3;
}

input[type="text"] {
  @include border-radius(0);
  border      : 1px solid #b3b3b3;
  height      : 27px;
  text-indent : 5px;
  width       : 100%;
}

label {
  font-weight : normal;
}

.input-group-addon {
  @include border-radius(0);
  background-color : #fff;
  padding          : 0;
  border           : 1px solid #b3b3b3;
}

.changing-rooms .btn-group{
  button{
    padding: 0;
    border-radius: 0;
  }
  span{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
  }
}
