@font-face {
  font-family : 'officinasanscbookitalic';
  src: url('fonts/officinasansc-bookitalic-webfont.eot');
  src: url('fonts/officinasansc-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/officinasansc-bookitalic-webfont.woff') format('woff'),
  url('fonts/officinasansc-bookitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'officinasanscbook';
  src: url('fonts/officinasansc-book-webfont.eot');
  src: url('fonts/officinasansc-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/officinasansc-book-webfont.woff') format('woff'),
  url('fonts/officinasansc-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'officinasanscbolditalic';
  src: url('fonts/officinasansc-bolditalic-webfont.eot');
  src: url('fonts/officinasansc-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/officinasansc-bolditalic-webfont.woff') format('woff'),
  url('fonts/officinasansc-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'officinasanscbold';
  src: url('fonts/officinasansc-bold-webfont.eot');
  src: url('fonts/officinasansc-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/officinasansc-bold-webfont.woff') format('woff'),
  url('fonts/officinasansc-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}