//
//  В этом файле находятся миксины для создания стилей на ретина экранах
//  и создания стиля при наведении.
//

//
//обьявляем переменные
//

$pixel : px;

//
//миксин для центрирования блоков
//

@mixin center() {
  margin-right : auto;
  margin-left  : auto;
}

//
//миксин для центирирования блоков без указания ширины
//

@mixin table-center() {
  display      : table;
  margin-right : auto;
  margin-left  : auto;
}

//
//простой миксин для указания ширины и высоты
//

@mixin width-height($width, $height) {
  width  : $width + $pixel;
  height : $height + $pixel;
}

//
//простой миксин для добавления кросбраузерного
//border-radius
//

@mixin border-radius($border-radius...) {
  border-radius         : ($border-radius);
  -moz-border-radius    : ($border-radius);
  -webkit-border-radius : ($border-radius);
}

//
//миксин для обрезки текста,
//не обязательный параметр $width
//

@mixin ellipsis($width : 0) {

  @if $width == 0 {
  } @else {
    width : $width + $pixel;
  }

  overflow         : hidden;
  white-space      : nowrap;
  text-overflow    : ellipsis;
  -o-text-overflow : ellipsis;
  display          : block;
}

//
//миксин для обнуления float
//

@mixin clearfix() {
  &:before,
  &:after {
    content : " ";
    display : table;
  }
  &:after {
    clear : both;
  }
}

//
//миксин для обнуления float
//

@mixin hover-link($type : true) {
  @if $type {
    text-decoration : none;
    &:hover, &:focus {
      text-decoration : underline;
    }
  } @else {
    text-decoration : underline;
    &:hover, &:focus {
      text-decoration : none;
    }
  }
}

//
//запрет выделения текста
//

@mixin user-select() {
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
}

//
//добавляет box-sizing ко всем элементам
//

@mixin box-sizing() {
  html {
    box-sizing : border-box;
  }
  *, *:before, *:after {
    box-sizing : inherit;
  }
}
