//
//обьявляем цветовые переменные
//

$header-bg : #e6e6e6;
$footer-bg : #f1f1f1;
$col-white : #fff;
$col-block : #000;
$col-text : #333;
$col-link : #09acd3;
$col-border : #dfdfdf;
$col-input-border : #b6b6b6;

//
//обьявляем шрифтовые переменные
//

$italic : 'officinasanscbookitalic';
$regular : 'officinasanscbook';
$bolditalic : 'officinasanscbolditalic';
$bold : 'officinasanscbold';